.big-article-grid {
    margin-top: 3vh;
    padding-bottom: 13vh;
    width: 70vw;
    margin-left: 15vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1vw;
}
