.big-article-grid {
    margin-top: 3vh;
    padding-bottom: 10vh;
    width: 70vw;
    margin-left: 15vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 3vw;
}