.first-card{
  width:100%;
  margin:40px;
  
}
.blog-image{
  width:90%;
  height:275px;
  background-size: cover;
  background-position: center;
  border-radius:5px 5px 0px 0px;
  transition: 0.3s;
}
.blog-image:hover{
  opacity:80%;
}
 .content{
    width:90%;
    height:fit-content;

    border-radius:0px 0px 5px 5px;
    background-color: white;
    font-size: 13px;
}
  
button{
  background-color: black;
  width: fit-content;
  color: white;
  padding:15px;
  opacity:0.8;
  transition:0.5s;
  cursor:pointer;
  margin:40px;
}
  button:hover{
    opacity: 1;
}
h1{
    padding-top:20px;
    font-size:30px;
    margin:0px 40px;
    color:#333;
 }
 p{
  color:#333;
  margin:0px 40px;
  font-size:14px;
 }
 h3{
  color:#333;
  margin:5px 40px;
  font-size:18px;
 }
