header{
    width:100%;
    background-color: #232323;
    color:#c0bab6;
    height:75px;
    padding:10px;
    display:flex;
    align-items:flex-end;
    box-sizing: border-box;
    text-transform:capitalize;
}