
.card{
    width:90%;
    height:fit-content;
    box-sizing: border-box;
    background-color: #fff;
    border:0.5px solid rgb(200, 200, 200);
    border-radius:10px;
    margin:40px 40px;
}

.card-image{
    width:100%;
    height:250px;
    background-size: cover;
    background-position: center;
    border-radius:5px 5px 0px 0px;
    transition: 0.3s;
}
.card-image:hover{
    opacity:80%;
}

.card-title{
    font-size:30px;
    margin:25px 30px;
    color:#333;

}

.card-description{
    color:#aaa;
    margin:15px 30px;
    font-size:14px;
}

.card-date-section{
    color:#aaa;
    margin:20px 30px 35px;
    font-size:11px;
    letter-spacing:1px;
}



