nav{
    width:23%;
    padding:20px;
    box-sizing: border-box;
    height:100vh;
    background-color: #fff;
    border-right:1px solid rgb(195, 195, 195);
}
hr{
    margin:20px;
    width:25%;
    background-color: rgb(222, 222, 222);
}
#text{
    margin:20px;
}
.milton{
    font-size:35px;
    letter-spacing:1px;
    color:#333;
}
.denali{
    color:#aaa;
    width:80%;
    font-size:14px;
}
.groups{
    font-size:12px;
    text-transform: uppercase;
    font-weight:bold;   
    display:flex;
    flex-direction:column;
    cursor:pointer;
    letter-spacing:1px;
    color:#aaa;
    margin:20px;
    line-height: 1.8;
}
.main{
    color: #333;
}
.icons{
    margin-bottom:12px;
    margin-right:9px;
    display:flex;
    width:100%;
    opacity:0.36;
    margin:15px;
}
.icons img{
    width:100%;
}
.icons div{
    width:8%;
    aspect-ratio:1/1;
    padding:5px;
    box-sizing: border-box;
   
}
img{
    vertical-align:middle;
    
}
.built{
    font-size:12px;
    text-transform: uppercase;
    color:#aaa;
    letter-spacing:1px;
}
a{
    transition:0.3s;
}
a:hover{
    color:#333;
}
