
.Component {
    box-sizing: border-box;
}

.Component > h1 {
    color: white;
    margin-bottom: 6vh;
    font-size: 3.5rem;
}

.Component > button {
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 0;
}

.Component > button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}