.footer {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    background-color: #f1f3f8;
    padding: 120px 160px;
    position: relative;
    margin-top: 35%;
}

.container { 
  width: 1140px;
  height: 347px;
  display: grid;
  margin-left:10%;
  grid-template-columns: 2fr 1.75fr 2fr;
  grid-template-rows: 1fr;
}



.tittle {
    font-size: 15px;
    text-transform: uppercase;
    font-family: Arial Narrow;
    color: #000;
    text-align: left;
    font-weight: 800;
    padding: 15px;
}

.tittle1 {
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    text-align: left;
    font-weight: 800;
    padding: 15px;
    font-family: Arial Narrow;
    margin-left: 100px;
}

.text {
    margin-left: 15px;
    font-size: 17px;
    text-transform: none;
    font-weight: 300;
    color: grey;
    text-align: left;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 270px;
    height: 55px;
    margin-top: 20px;
    padding: 6px 12px;
    background-color: white;
    border: 2px solid #ced4da;
}

.input:active {
    border-color: #352961;
}

.button {
    box-sizing: border-box;
    background-color: #352961;
    color: white;
    text-transform: uppercase;
    font-size: 12px;

    font-weight: 900;
    height: 70px;
    width: 96px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #291f4a;
}

.underline {
    margin-top: 50px;
    width: 75%;
    height:0.5px;
}

.list {
    list-style-type: none;
    text-align: left;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 1.7;
    color: #352961;
    font-weight: 300;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 60px;
}

.a {
    text-decoration: none;
    color: #352961;
}