footer {
    background-color: #232323;
    width: 100%;
    color: #919191;
    padding-top: 40px;
}

.footer-content {
    margin-left: 15vw;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.footer-content > div {
    width: 15vw;
}

.footer-h3 {
    margin-bottom: 4vh;
    padding-bottom: 10px;
    width: 100%;
    color: #919191;
    font-family: "Caviar Dreams", Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #919191;
    font-size: 1.2em;
}

.footer-navigation > div h4 {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #FF9900;
    text-decoration: none;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #333333;
}

.footer-navigation > div > h4:first-child {
    border: none;
    margin-top: 0;
    padding-top: 0;
}

.footer-gallery > div {
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
}

.footer-gallery > div > div {
    width: 76px;
    height: 76px;
    background-color: #333333;
}

.footer-twitter > div > p {
    border-bottom: 1px solid #333333;
    padding-bottom: 2vh;
}

.footer-twitter > div > p:last-child {
    border: none;
}

.orange-text-bold {
    color: #FF9900;
    font-weight: bold;
}

.orange-text-light {
    color: #FF9900;
    font-size: .8em;
}

.footer-form > label > input {
    color: #FFFFFF;
    background-color: #333333;
    margin-top: 5px;
    margin-bottom: 1vh;
    border-radius: 5px;
    width: 96%;
    padding: 5px;
    border: 1px solid #666666;
}

.footer-form > textarea {
    color: #FFFFFF;
    background-color: #333333;
    margin-top: 1vh;
    border-radius: 5px;
    width: 96%;
    padding: 5px;
    border: 1px solid #666666;
}

.footer-form > div {
    margin-top: 1vh;
}

.footer-form > div > button {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: .9em;
    padding: 6px 15px 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid;
}

.footer-form > div > button:first-child {
    background-color: #FF9900;
    border-color: #CC7500;
    margin-right: 10px;
}

.footer-form > div > button:first-child:hover {
    color: #FF9900;
    background-color: #A66000;
    border-color: #FF9900;
}

.footer-form > div > button:last-child {
    background-color: #A8A8A8;
    border-color: #333333;
}

.footer-form > div > button:last-child:hover {
    color: #666666;
    background-color: #C9C9C9;
    border-color: #666666;
}