.card-article {
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    margin: 30px 40px;
    overflow: hidden;
  }
  
  .article-margin {
    margin: 10px 30px;
  }
  
  .article-header {
    margin: 30px;
    font-size: 36px;
    color: black;
  }
  
  .article-sub-block {
    border-left: #a7a7a7 5px solid;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: gray;
  }
  
  .article-list {
    margin-left:100px;
  }