.menu-item {
    margin: 0 5px;
    transition: 0.5s;
    cursor: pointer;
  
    position: relative;
  }
  
  .menu-item > span:hover {
    color: orange;
  }
  
  .sub-menu {
    width: 100px;
    position: absolute;
    background-color: black;
    display: none;
    z-index: 10;
  }
  
  .sub-menu:hover {
    display: block;
  }
  
  .sub-menu > div {
    margin: 5px 2.5px;
  }
  
  .show {
    display: block;
  }
  