.menu-item{
    margin:0 5px;
    transition:0.5s;
    cursor:pointer;
    position:relative;
}
.menu-item > span:hover{
    color:orange;
}
.sub-menu{
    position:absolute;
    width:100%;
    background-color: black;
    display:none;
}

.sub-menu:hover{
    display:block;
}
.sub-menu > div {
    margin: 5px 2.5px;
}

.show{
    display:block;
}